div{
  font-family: 'Open Sans';
}
li{
  margin-bottom: 10px;
  margin-top: 10px;
}
.red{color: red}
.center{text-align: center}
ul{ margin-left: 2em;}
small{
  display: block;
  size: 10px;
  text-align: center;
  font-style: italic;
}
h3{
  text-align: center;
}
