div{
  font-family: "Open Sans";
}
li{
  margin-bottom: 10px;
  margin-top: 10px;
}
.red{color: red;}
.center{text-align: center;}
ul{ margin-left: 2em;}
h3{
  text-align: center;
}
a{
  color: yellow;
  background: black;
  font-size: .5em;
}
